[Desktop Entry]
Name=Vesktop
Exec=vesktop %U
TryExec=vesktop
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
X-AppImage-Version=1.5.5
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
MimeType=x-scheme-handler/discord;
Comment=Vesktop is a custom Discord desktop app.
